{% extends 'base.html' %}

{% block style %}
<style>
    .custom_form{
        display: flex;
        flex-direction: row;
    }
</style>
{% endblock %}

{% block search %}
<form class="form-inline my-2 my-lg-0 custom_form" method="get" action = "list">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name = "search">
    <input type="submit" class = "btn btn-outline-success my-2 my-sm-0 " value = "Search">
</form>
{% endblock %}

{% block content %}
    {% for file in files %}
    {{file.name}}
    <br>
    {{file.description}}
    <br>
    {{file.timestamp}}
    <br>
    <a href="{{ MEDIA_URL }}{{file.actual_file.url}}" download = {{file.name}}>Download</a>
    <hr>
    {% endfor %}
{% endblock %}