{% extends 'base.html' %}

{% block style %}

<style>
    .card {
        display: inline-block;
        margin-bottom: 15px;
    }

    .card-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
</style>

{% endblock %}


{% block content %}
{% load static %}
<div class="card-container">

    {% for file in files %}
    <div class="card" style="width: 18rem;">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <embed src="{{file.actual_file.url}}" type="application/pdf" width="286px" height="180px" />
        <div class="card-body">
            <h5 class="card-title">{{file.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{file.timestamp}}</h6>
            <p class="card-text">{{file.description}}</p>
            <a href="{{MEDIA_URL}}{{file.actual_file.url}}" class="btn btn-primary">Download</a>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}