{% extends 'base.html' %}

{% block style %}

<style>
    body {
        height: 100vh;
    }

    .card {
        display: inline-block;
        margin-bottom: 15px;
    }

    .card-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
</style>

{% endblock %}


{% block content %}
{% load static %}
<div class="card-container">

    {% for file in files %}
    <div class="card" style="width: 18rem;">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <embed src="{{file.actual_file.url}}" type="application/pdf" width="286px" height="180px" />
        <div class="card-body">
            <h5 class="card-title">{{file.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{file.timestamp}}</h6>
            <p class="card-text">{{file.description}}</p>
            <a href="{{MEDIA_URL}}{{file.actual_file.url}}" class="btn btn-primary">Download</a>
            {% if user.is_authenticated %}
            {% if file.owner.username == request.user.username %}
            <a id="{{file.id}}" data-object-id="{{file.id}}" href="" class="btn btn-danger">Delete</a>
            <script>
                id = "#" + "{{file.id}}";
                $(id).on('click', (e) => {
                    e.preventDefault();
                    let confirmation = confirm("are you sure you want to remove the item?");
                    if (confirmation) {
                        console.log($(this));
                        $.ajax({
                            url: "{% url 'delete_file' file.id %}",

                            data: {
                                dataType: 'json',
                            },

                            success: function (data) {

                                if (data.deleted) {
                                    console.log($(e.target).parent().parent().fadeOut(500));
                                }
                            }
                        });
                    }
                });
            </script>
            {% endif %}
            {% endif %}
        </div>
    </div>


    {% endfor %}
</div>


{% endblock %}